* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-container header {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  margin-top: -20px;
}
.profile-img .fas {
  position: absolute;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 20px;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.profile-container header {
  position: relative; /* Make the header a positioning context */
  background-size: cover; /* Ensure the background image covers the header */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.profile-container .icons-container {
  position: absolute; /* Position icons-container absolutely within the header */
  bottom: 0; /* Align the container to the bottom */
  right: 0; /* Align the container to the right */
  display: flex;
  flex-direction: row; /* Arrange icons vertically */
  justify-content: flex-end;
  align-items: flex-end; /* Align items to the bottom right */
  padding: 10px; /* Optional: add padding */
}

.profile-container .icons-container p {
  margin: 0; /* Remove default margin from paragraphs */
  padding: 5px; /* Add padding around the icons */
}

.profile-container .icons-container .fas {
  text-decoration: none;
  cursor: pointer;
  color: #1da1f2;
  font-size: 24px; /* Adjust icon size as needed */
}

.personal-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: #fff;
  width: 40%;
  padding: 20px;
  margin-top: 80px;
}
.profile-container .details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 20px;
  font-size: 18px;
}

.details-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.details .fas {
  margin-right: 10px;
  color: #1da1f2;
}
